<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div id='content' class="col-sm-7"></div>
    <div id="sidebar" class="col-sm-3"></div>
    <div class="col-sm-1"></div>
  </div>
</div>


<script>
  // boot the app when the document is ready
  $(Stumplr.initialize);
</script>

<div id="modal-home">
</div>
