<div id="fullscreen_bg" class="fullscreen_bg"/>
<div class="container ">
    <div class="row-fluid">
        <!-- <div class="col-sm-12"> -->
          <div class='col-sm-9'>

          </div>
            <div class="col-sm-3 login-form">

                <form action="/session" method="post" class='text-center form-signin'>
                  <h1 class="form-signin-heading text-muted">Riddlr <label class="question-mark" id="front-page-question-mark">?</label> </h1>
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input name="user[email]" type="text" class="form-control" placeholder="Email Address" required="" autofocus="">
                    <input name="user[password]" type="password" class='form-control' placeholder="Password" required="">
                  <input type="submit" value="Sign In" class="btn btn-lg btn-primary btn-block sign-in-button">
                </form>
                <form action="/users/new" class="form-signin">
                  <input type="submit" value="Sign Up" class="btn btn-lg btn-primary btn-block sign-up-button">
                </form>
                <form action="/session" method="post" class='text-center form-signin'>
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input name="user[email]" type="hidden" value="huchmo1@gmail.com">
                    <input name="user[password]" type="hidden" value="huchmo">
                  <input type="submit" value="Demo Account" class="btn btn-lg btn-primary btn-block demo-button">
                </form>

            </div>
        <!-- </div> -->
    </div>
</div>
