<% if (this.collection.models.length === 0 ) { %>
  <label class="no-results">Sorry, there are no results for this query term.</label>

  <%  } else {%>
    <div class="grid-container">

   </div>
<% } %>


 <script>
   $(function($) {
    $(".card-grid").flip({
      trigger: 'hover'
    });
  });
 </script>
