

  <div class="card-grid">
    <div class="front" style="height: 185px; width: 185px; position: absolute; backface-visibility: hidden;"><img src="<%= blog.escape("profile_image") %>" class='search-result-image' alt="" /></div>
    <div class="back" style="height: 185px; width: 185px; position: absolute; backface-visibility: hidden; transform: rotateY(180deg);">
      <div class="panel panel-default search-blog-show-panel" id="search-item-<%= blog.id %>">
        <div class="panel-heading">
          <ul class="nav nav-pills">

            <a href="#/blogs/<%= blog.id %>" role="button" aria-expanded="false"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
          </ul>

          <h4 class="post-title text-center"><%= blog.escape('title') %></h4>
        </div>
          <div class="panel-body search-result-links-item">
            <div class="links-list">

            </div>

          </div>
      </div>

      <div id="modal-form-wrapper">

      </div>
    </div>
</div>
<script>
  $(function($) {
   $(".card-grid").flip({
     trigger: 'hover'
   });
 });
</script>
