<div class="panel panel-default panel-post-show row">
  <div class="post-blog-pic col-sm-3">
    <img alt="" class="post-blog-image" style=""/>
  </div>
  <div class="panel-body col-sm-9">
      <ul class="nav nav-pills quote-show-nav-pills">

        <% if ((Stumplr.current_user_id === post.get('user_id'))) { %>

          <li role="presentation" class="dropdown-post-edit quote-edit">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="post-edit" data-toggle="modal"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit </span></a></li>
              <li class="divider"></li>
              <li><a class="post-delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"> Delete </span></a></li>

            </ul>
          </li>
          <% } %>
        <a href="#/blogs/<%= post.escape('blog_id') %>" role="button" aria-expanded="false" class="quote-show-home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
      </ul>
      <h3 class="post-content"><%= post.escape('body') %></h3>
      <!--
      <br>
      <img class="post-pic" src="" alt=""/>
      <br> -->
      <h6 class="post-title">--<%= post.escape('title') %></h6>
    </div>
  </div>
</div>

<div id="modal-form-wrapper">

</div>
