<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills">
    <% if ((Stumplr.current_user_id === post.get('user_id'))) { %>

      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicons glyphicons-brush"></span><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" class="post-edit" data-toggle="modal">Edit</a></li>
          <li class="divider"></li>
          <li><a class="post-delete">Delete</a></li>

        </ul>
      </li>
    <% } %>

      <a href="#/blogs/<%= post.escape('blog_id') %>" role="button" aria-expanded="false"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
    </ul>

    <h4 class="post-title"><%= post.escape('title') %></h4>
  </div>
    <div class="panel-body">
      <img class="post-pic" src="" alt=""/>
      <br>
    <label class="post-content"><%= post.escape('body') %></label>
  </div>
</div>

<div id="modal-form-wrapper">

</div>
