<li class="blog-list-item list-group-item"><a href="#/blogs/<%= blog.id %>" class="my-blog-link"><%= blog.escape('title')%> </a><span class="badge">Posts: <%= blog.escape('posts_count') || 0 %></span>
<li>
