<% if (!(Stumplr.current_user_id === blog.get('owner_id'))) { %>
  <div id="subscribe-button">
  </div>
<% } %>
<div class="page-header align-left text-center">
  <img class="blog-profile-picture"style="width:75px;height:75px"/>
  <h1> <%= blog.escape('title') %> </h1>




</div>
<div class="text-center">
  <% if (Stumplr.current_user_id === blog.get('owner_id')) { %>
      <button type="button" class="btn btn-primary make-post-form" data-toggle="modal" data-target="#newPostForm" data-whatever="Text">Text</button>
    <button type="button" class="btn btn-primary make-post-form" data-toggle="modal" data-target="#newPostForm" data-whatever="Picture">Picture</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostForm" data-whatever="Quote">Quote</button>
  <% } %>



  <div id="modal-form-wrapper">

  </div>
</div>
<br>
<div class="text-center">
    <div id="posts">
    </div>
</div>
