<% if (!(Stumplr.current_user_id === blog.get('owner_id'))) { %>
  <div id="subscribe-button">
  </div>
<% } %>
<% if (Stumplr.current_user_id === blog.get('owner_id')) { %>

  <div class="edit-background-image">
    <button type="button" class="background-image-button btn btn-primary" data-id="<%= blog.id %>">Change Background Image!</button>
    <div class="set-background-image hidden-form">
      <form id="set-background-image">
        <div class="form-group">
          <label for="background-image-url" class="control-label">Title</label>
          <input type="text" class="form-control" id="recipient-name" name="background_image" value="">
        </div>
        <input type="submit" class="btn btn-primary" value="Set Background Image!">
      </form>
    </div>
  </div>
<% } %>

<div class="page-header align-left text-center row blog-show-header">
  <div class="col-sm-3 blog-profile-pic">
    <img class="blog-profile-picture"style="width:75px;height:75px" src=""/>
  </div>
  <div class="col-sm-9 blog-title">
    <h1 class="hvr-underline-from-center"> <%= blog.escape('title') %> </h1><br>
    <span class="badge">Subscriptions: <%= blog.escape('subscriptions_count') || 0 %>
  </div>
</div>
<div class="text-center row  make-posts">
  <div class="col-sm-3"> </div>
  <div class="col-sm-9">
  <% if (Stumplr.current_user_id === blog.get('owner_id')) { %>
      <button type="button" class="btn btn-primary make-post-form" data-toggle="modal" data-target="#newPostForm" data-whatever="Text">Text</button>
    <button type="button" class="btn btn-primary make-post-form" data-toggle="modal" data-target="#newPostForm" data-whatever="Picture">Picture</button>
    <button type="button" class="btn btn-primary make-post-form" data-toggle="modal" data-target="#newPostForm" data-whatever="Quote">Quote</button>
  <% } %>

  </div>

<div id="modal-form-wrapper">

  </div>
</div>
<div class="text-center posts-location row">
    <div id="posts" class="list-of-posts col-xs-11">
    </div>
</div>
