/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";




body {

  background-color: #eee;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('http://images.alphacoders.com/156/156261.jpg');
}

.login-form {
  margin-top: 200px
}

.form-signin {
  max-width: 280px;
  padding: 3px;
  margin: 0 ;
}
.form-signin .form-signin {
  margin-bottom: -20px
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #000;
}
.form-signin-heading {
  /*color: #7B7D7A;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  font-size: 60px;
  font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";*/
  margin-bottom: -5px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #9EA69E;
  font-size: 80;
  padding: 0;
  font-weight: bold;
  text-transform: lowercase;
}

#question-mark {
  color: #63BF2C;
  margin-left: -8px;
}

.form-sign-in-button {
  background-color: #93F15B
}

.btn-primary {
  color: white;
  background-color: #48AB13;
  border-color: #357ebd;
}
.btn-primary:hover {
  color: white;
  background-color: #63BF2C;
  border-color: #357ebd;
}

#fullscreen_bg > div > div > div.col-sm-3.login-form > form:nth-child(2) > input {
  font-size: 18px;
}

body {
  background-color: #5B5B62;
}

body > nav.navbar-default {
  border-width: 0
  margin-bottom: 30px;

  background-color: #5B5B62;

}

body > nav > div > div.navbar-header > a {
  margin-top: 10px;
  margin-left: 0px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #9EA69E;
  font-size: 40px;
  padding: 0;
  font-weight: bold;
  text-transform: lowercase;
}

#feed-list > div.post-show {
  background-color: white;
}
